Repository hon9kon9ize/hon9kon9ize: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,md,yaml}": ["prettier --write"],
  "*.ts": ["eslint"]
}

fix: github workflows
  .github/workflows/deploy.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: github workflow
  .github/workflows/deploy.yml
Due: none

fix: docker compose
  docker-compose.prod.yml
Due: none

chore: update docker compose file
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

chore: update git workflow
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

fix: google credentials
  .github/workflows/deploy.yml
Due: none

chore: update github workflows
  .github/workflows/deploy.yml
Due: none

fix: github workflows
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

fix(yue-translate): model id
  apps/yue-translate/src/predictor.py
Due: none

chore(yue-translate): make container more lightweight
  apps/yue-translate/Dockerfile
  apps/yue-translate/src/app.py
  apps/yue-translate/src/nginx.conf
  apps/yue-translate/src/requirements.txt
  apps/yue-translate/src/serve
  docker-compose.prod.yml
  docker-compose.yml
Due: none

chore(yue-translate): make container more lightweight
  apps/yue-translate/Dockerfile
  apps/yue-translate/src/requirements.txt
Due: none

fix: docker platforms
  .github/workflows/deploy.yml
  apps/yue-translate/src/requirements.txt
Due: none

fix: docker platforms
  .github/workflows/deploy.yml
Due: none

chore: add manual dispatch in github workflows
  .github/workflows/deploy.yml
Due: none

chore: update force rebuild logic in github workflow
  .github/workflows/deploy.yml
Due: none

Remove unused dependencies and update requirements
  apps/extension-api/package.json
  apps/extension-api/src/index.ts
  apps/yue-translate/src/requirements.txt
Due: prettier --write, eslint

Add input validation to predictor.py
  apps/yue-translate/src/predictor.py
Due: none

Update environment variables and add volume mapping for GCP credentials
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

Update environment variables and cache file format
  .github/workflows/deploy.yml
  apps/extension-api/src/index.ts
Due: prettier --write, eslint

Add storage and translate-yue modules, remove .env.sample file, update package.json and tts-response.interface.ts
  .env.sample
  apps/extension-api/package.json
  apps/extension-api/src/index.ts
  apps/extension-api/src/interfaces/tts-response.interface.ts
  apps/extension-api/src/lib/cache.ts
  apps/extension-api/src/lib/index.ts
  apps/extension-api/src/lib/storage.ts
  apps/extension-api/src/lib/tts.ts
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint

fix(yue-translate): translator bugs
  .gitignore
  apps/yue-translate/Dockerfile
  apps/yue-translate/package.json
  apps/yue-translate/requirements.txt
  apps/yue-translate/src/predictor.py
  apps/yue-translate/src/translator.py
Due: prettier --write

fix(yue-translate): torch version
  apps/yue-translate/requirements.txt
Due: none

fix(yue-translate): deps
  apps/chrome-extension/package.json
  apps/chrome-extension/src/services/content.tsx
  apps/yue-translate/requirements.txt
  yarn.lock
Due: prettier --write

fix(yue-translate): transformers version
  apps/yue-translate/requirements.txt
Due: none

fix(yue-translate): translator
  apps/chrome-extension/manifest.json
  apps/yue-translate/src/translator.py
Due: prettier --write

fix(yue-translate): translator and translation_pipeline
  apps/chrome-extension/manifest.json
  apps/chrome-extension/src/services/content.tsx
  apps/yue-translate/src/translation_pipeline.py
  apps/yue-translate/src/translator.py
Due: prettier --write
